.login {
    overflow: hidden;
    height: 100vh;
    
    @include respond-to(desktop) {
        display: flex;
    }

    &__image {
        display: none;
        
        @include respond-to(desktop) {
            display: block;
        }
        
        figure {
            height: 100%;
            @include position(relative);

            img {
                width: 100%;
                max-width: 800px;
                height: auto;
                object-fit: cover;
            }

            figcaption {
                font-size: 40px;
                font-weight: 800;
                line-height: 57px;
                color: white;
                @include position(absolute, $left: 80px, $right: 80px, $bottom: 106px);
            }
        }
    }

    input {
        margin-bottom: 15px;

        
    }

    &__forgotPassword {
        text-align: right;
        margin-bottom: 40px;
        line-height: 20px;
        font-size: 15px;

        a {
            text-decoration: none;
            @include links(black, black, green, blue);
        }
    }

    &__right {
        margin: 0 auto;
        padding-top: 40px;
        padding-inline: 20px;
        max-width: 430px;

        @include respond-to-above(tablet) {
            padding-top: 80px;
        }

        &__header {
            display: flex;
            margin-bottom: 60px;
        }

        &__welcome {
            margin-bottom: 60px;

            &__title {
                font-weight: 800;
                font-size: 36px;
            }
        }

        &__form {
            min-width: 390px;
            margin-top: 30px;
        }
    }

    &__button {

    }

    &__dha {
        text-align: center;
        margin-top: 15px;

        a {
            // color: black;
            font-weight: 500;
            text-decoration: none;
            @include links(black, black, green, blue);
        }
    }
}