@import './common-imports';


//components
@import './components/inputField.scss';
@import './components/button.scss';
@import './components/storypoint-card.scss';
@import './components/inputFieldWithBorder.scss';
@import './components/members.scss';
@import './components/memeber-list.scss';
@import './components/button-action.scss';
@import './components/storypoint-list.scss';
@import './components/navbar.scss';
@import './components/point-display.scss';

//pages
@import './pages/login.scss';
@import './pages/signup.scss';
@import './pages/create-session.scss';
@import './pages/dashboard.scss';
@import './pages/session-history.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;

    @include respond-to-above(desktop) {
        padding-left: 40px;
        padding-right: 40px;
    }
}
